<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>register-app</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
  </welcome-file-list>
  
  <servlet>
  <servlet-name>homeservlet</servlet-name>
  <servlet-class>com.xworkz.register.servlet.Home</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>homeservlet</servlet-name>
  <url-pattern>/homeurl</url-pattern>
  </servlet-mapping>
  
  <servlet>
  <servlet-name>registerpageservlet</servlet-name>
  <servlet-class>com.xworkz.register.servlet.RegisterPage</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>registerpageservlet</servlet-name>
  <url-pattern>/registerurl</url-pattern>
  </servlet-mapping>
  
  
  
</web-app>